* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins';
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: white;
    /*background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);*/
    z-index: -1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0e4166;
    margin-bottom: 40px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title > h1 {
    font-size: 2.5rem;
}

.logo img {
    width: 100px;
    height: 100px;
}

.one-liner > p {
    font-family: inherit;
    color: #0e4166;
    font-size: 1.1rem;
    font-weight: 600;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

form input {
    font-family: inherit;
    font-size: 1rem;
    height: 3rem;
    width: 500px;
    border-radius: 15px;
    padding: 1rem;
    color: gray;
    border: 3px solid #0e4166;
    outline: none;
}

form input:focus {
    border: 5px solid #4caae4;
}

form button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 15px;
    padding: 10px;
    color: white;
    background-color: #0e4166;
    border-style: none;
}

form button:hover {
    background-color: #3a92c7;
    cursor: pointer;
}


.footer {
    width: 100%;
    padding: 5px 0 5px 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: transparent;
    z-index: -1;
}

.footer > p > a {
    text-decoration: none;
    color: #0e4166;
}


.weather-container {
    text-align: center;
    font-family: inherit;
}


.weather-card {
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 350px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    width: 100%;
    max-width: 500px;
    color: #0e4166;
}

.temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.temp-container img {
    width: 50px;
    height: 50px;
}

.extra-info {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.forecast-container {
    color: #0e4166;
    text-align: center;
    padding: 10px;
}

.forecast-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 10px;
    padding: 10px 30px 10px 30px;
    margin: 0 auto;
}

.forecast-card {
    font-size: 0.8rem;
    min-width: 100px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #0e4166;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.forecast-card img {
    width: 40px;
    height: 40px;
}